:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  position: relative;
  width: 1440px;
}

.container {
  width: 1158px;
}

.header {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
}

.logo-header {
  color: #2e2f42;
}

.main-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}

.logo-studio {
  color: #f4f4fd;
}

.link {
  text-decoration: none;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}

.menu-nav:hover,
.menu-nav:focus {
  color: #404bbf;
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  margin-left: 40px;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}

.header-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  margin-bottom: 48px;
}

.logo-navigation {
}

.button-main {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-main:hover,
.button-main:focus {
  background-color: #404bbf;
}

.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 264px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 120px;
  margin-bottom: 8px;
}

.features-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
  height: 72px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.images-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  list-style: none;
  color: #2e2f42;
  position: absolute;
  width: 323px;
  height: 38.45px;
  left: 559px;
  top: 1032px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.pictures-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 360px;
  height: 288.35px;
  left: 156px;
  top: 1139.65px;
}

.team-members {
  background-color: #f4f4fd;
}

.team-members-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  list-style: none;
  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1668px;
}

.team-members-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  position: absolute;
  width: 264px;
  height: 380px;
  left: 156px;
  top: 1780px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-members-pictures {
  width: 264px;
  height: 260px;
  background: url(man-with-laptop-presenting-something.jpg);
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-members-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 134px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.team-members-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 128px;
  height: 24px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer {
  background-color: #2e2f42;
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
}

.footer-text {
  position: absolute;
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2420px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.list {
  list-style: none;
}

.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 586px;
  height: 48px;
  left: 427px;
  top: 168px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.link {
  text-decoration: none;
}

.item-img {
  background: url(4074365.jpg);
  mix-blend-mode: normal;
  position: absolute;
  width: 1128px;
  height: 420px;
  left: 156px;
  top: 288px;
}

.pictures-portfolio {
  position: absolute;
  width: 360px;
  height: 300px;
  left: 0px;
  top: 0px;
  background: url(4074365.jpg);
  mix-blend-mode: normal;
}

.img-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 290px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 30px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer {
  background: #2e2f42;
  color: #f4f4fd;
}
